In [1]:
#!pip install sklearn

In [5]:
import pandas as pd
import numpy as np
import csv, sklearn
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data_dir = '/Users/arjun/Documents/maddata/maddata/data/Wheat.csv'

with open(data_dir, 'r') as file:
    data = csv.reader(file)
    df = pd.DataFrame(data)
    
header = df.iloc[0]
df = df[1:]
df.columns = header
df['price'] = df['price'].astype(float)
df['production'] = df['production'].astype(float)
df['value'] = df['value'].astype(float)

def normalize_column(data, column_name):
    """
    Normalizes the specified column in the DataFrame using Min-Max scaling.

    Parameters:
    - data: Pandas DataFrame containing the data.
    - column_name: The name of the column to be normalized.

    Returns:
    - A Pandas DataFrame with the specified column normalized.
    """
    min_val = data[column_name].min()
    max_val = data[column_name].max()
    data[column_name + '_normalized'] = (data[column_name] - min_val) / (max_val - min_val)
    return data

# Normalize the 'price', 'production', and 'value' (temperature) columns
norm_df= df.copy()
norm_cols = ['price', 'production', 'value']
for column in norm_cols:
    norm_df = normalize_column(norm_df, column)
    
norm_df["weighted_score"] = (norm_df["price_normalized"] + norm_df["production_normalized"] + norm_df["value_normalized"])/3
norm_df = norm_df.drop(columns=norm_df.columns[0:4])

norm_df.head()

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# Assuming 'df' is your DataFrame and 'target' is the name of your target column

# 1. Prepare the data
X = df.drop(columns=['target'])  # Features (remove the target column and any non-feature columns)
y = df['target']  # Target variable

# 2. Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Create the Random Forest model
rf_model = RandomForestClassifier(random_state=42) # Use RandomForestRegressor if it's a regression problem

# 4. Train the model
rf_model.fit(X_train, y_train)

# 5. Evaluate the model
y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)  # Use the appropriate metric for your problem
print(f"Model Accuracy: {accuracy}")

0         date      value    production  price
1   2022-01-31  -1.220968  2.097163e+07  322.1
2   2022-02-28  -0.060714  3.092293e+07  316.3
3   2022-03-31   6.814516  9.703767e+06  394.5
4   2022-04-30  12.596552  7.074746e+06  375.3
5   2022-05-31  18.982258  1.596426e+07  390.4
6   2022-06-30  24.103333  8.097941e+06  392.5
7   2022-07-31  25.795161  1.531624e+07  311.3
8   2022-08-31  25.535484  4.970731e+06  301.1
9   2022-09-30  21.911667  6.617351e+06  307.0
10  2022-10-31  14.101613  6.344122e+06  337.4
11  2022-11-30   5.601667  1.818275e+07  329.5
12  2022-12-31  -1.030645  6.182632e+06  304.8
13  2023-01-31   0.153226  2.097163e+07  322.1